body
	{background-color: AliceBlue;
	color: gray;
	text-align:justify;
	line-height: 1.5;
	margin: 5%
	}
h1,h2,h3,h4
	{
	vertical-align:top;
	color:#008CBA;
	text-transform:uppercase;
	font-family:'verdana';
	font:bold;}
#name {
	text-align:center;
	
	}
.left{
	text-align:left;
	float:left;
	}
.right{
	text-align:right;
	float:right;

	}
.exp{
	clear:both;
}
p{clear:both;}